<div role="status" class=" animate-pulse">
    <div class="h-3.5 bg-gray-200 rounded-full dark:bg-gray-700 sm:w-40 md:w-[35rem] mb-4"></div>

    <div class="flex w-full">
        <div class="w-1/2">
            <div class="flex flex-row gap-1">
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-10 sm:w-28 mb-2.5"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-10 sm:w-28 mb-2.5"></div>
            </div>
        </div>
        <div class="w-1/2">
            <div class="flex flex-row gap-1">
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-10 sm:w-28 mb-2.5"></div>
                <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-10 sm:w-28 mb-2.5"></div>
            </div>
        </div>
    </div>

    <div class="flex w-[100%] gap-3">
        <div class="h-5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
        <div class="h-5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
        <div class="h-5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
    </div>

    <span class="sr-only">Loading...</span>
</div>